body{

margin:0;

background:#87ceeb;

overflow:hidden;

font-family:Arial;

}

canvas{

display:block;

background:#87CEEB;

}

#score{

position:absolute;

left:20px;

top:20px;

font-size:30px;

font-weight:bold;

}

#jumpButton{

position:absolute;

bottom:20px;

left:50%;

transform:translateX(-50%);

width:200px;

height:70px;

font-size:26px;

}

#gameOver{

display:none;

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:white;

padding:20px;

border-radius:15px;

text-align:center;

}
